/*=====BASIC SETUP=====*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 20px;
  background: #fff;
  color: white;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  height: 100vh;
}

ion-icon:hover {
  cursor: pointer;
}

/*=====HEADINGS=====*/

h1,
h2,
h3 {
  word-spacing: 3px;
}

h1 {
  font-size: 300%;
  letter-spacing: 5px;
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 80px;
  color: #55efc4;
}
h2 {
  font-size: 200%;
  color: black;
  letter-spacing: 2px;
  margin-top: 110px;
  font-weight: 300;
  padding-bottom: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #55efc4;
  content: " ";
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  margin-top: 0;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border-bottom: 1px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
h4 {
  margin: 20px;
}
p {
  line-height: 30px;
}

label {
  text-align: right;
  padding-right: 0;
}

textarea:focus,
input:focus {
  outline: none;
}
/*=====REUSABLES====*/

.icon-big {
  display: inline;
  color: #e67e22;
  font-size: 350%;
}

a {
  text-decoration: none;
  color: white;
}

/*======HEADER=======*/

header {
  background-image: url("../images/background.png");
  height: 100vh;
}

.header-nav {
  list-style: none;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 200;
}

.header-nav li {
  display: inline-block;
  margin-left: 30px;
}

.header-nav li a:link,
.header-nav li a:visited {
  text-decoration: none;
  color: white;
  padding-bottom: 7px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.4s, color 0.4s;
  transition: border-bottom 0.4s, color 0.4s;
}

.header-nav li a:active,
.header-nav li a:hover {
  border-bottom: 2px solid #55efc4;
  color: #55efc4;
}

.title-screen {
  position: absolute;
  top: 40%;
  left: 15%;
  z-index: 2;
}

.side-nav-title {
  display: inline-block;
  margin-right: 0;
}

/*---------MOBILE NAVIGATION-------------*/

.mobile-nav-btn {
  padding: 10px;
  font-size: 200%;
  position: absolute;
  z-index: 5;
}
.mobile-nav-btn:hover {
  cursor: pointer;
}

.mobile-nav-title {
  text-align: center;
  font-weight: 300;
  font-size: 150%;
  color: white;
  margin-left: 10%;
  margin-top: 2px;
  padding: 10px;
}

.mobile-nav {
  background: #81ecec;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 5;
  display: none;
}

.side-nav {
  width: 0;
  height: 100%;
  position: fixed;
  background-color: #0984e3;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  z-index: 9999;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px #55efc4;
  box-shadow: 0 1px 2px #55efc4;
}
.side-nav ul li a {
  color: white;
  margin-left: 25%;
  padding: 0;
  padding-bottom: 90px;
  font-size: 90%;
}

.closeBtn {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0;
  color: white;
  float: right;
  padding: 10px;
}

.mobile-nav-btns {
  margin-top: 20px;
}

.mobile-nav-btns li {
  padding: 20px;
  height: 50%;
}

.mobile-nav-icon {
  font-size: 150%;
}

/*======ABOUT========*/

.section-about {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.4))
    ),
    url("../images/section-about-background.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/section-about-background.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}

.about-container {
  background: rgba(45, 52, 54, 0.4);
  width: 60%;
  padding: 20px;
  margin-bottom: 40%;
}

.about-text {
  float: left;
  width: 50%;
  padding: 20px;
}

.about-text p {
  font-size: 80%;
  margin: 0 auto;
}

.about-text h3 {
  color: #55efc4;
  border-bottom: 1px solid #55efc4;
}

.image-container {
  text-align: center;
  padding: 20px 0;
  margin-top: 2%;
}

.image-container img {
  width: 30%;
  height: auto;
  margin: 0 auto;
  border: 1px solid black;
}

/*=====PORTFOLIO=====*/

.section-portfolio {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url("../images/portfolio-back.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/portfolio-back.jpg");
  background-size: cover;
}

.section-portfolio h2 {
  color: white;
}

.portfolio-text {
  margin: 0 20px;
  color: white;
}

.skill-card {
  margin-top: 50px;
}
.skill-card p {
  font-size: 85%;
  margin: 5px 20px;
}

.skill-card h4 {
  color: #55efc4;
}

.skill-card ion-icon {
  font-size: 60px;
  color: #0984e3;
  margin: 10px 15px;
}

/*=====Contact=====*/

.section-contact {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url("../images/background.png");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/background.png");
  background-size: cover;
  color: black;
}

.contact-card {
  width: 40%;
  margin-left: 30%;
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 4px black;
  box-shadow: 0 2px 4px black;
  font-size: 70%;
}
.contact-form h3 {
  background-color: #55efc4;
  text-align: center;
  width: 95%;
  padding: 15px;
  color: white;
}

.contact-form input {
  margin: 10px;
  width: 50%;
  margin-left: 25%;
}
.contact-form label:first-of-type {
  margin-top: 100px;
}

.submit-btn {
  width: 20%;
  margin-left: 40%;
  background-color: #55efc4;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px;
}

.submit-btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px black;
  box-shadow: 0 1px 2px black;
}

.text-inputs {
  border: none;
  height: 40px;
  padding-left: 12px;
}
.input-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.text-submit {
  width: 100%;
}
.text-submit textarea {
  width: 80%;
  margin-left: 10%;
}

label:last-of-type {
  margin-right: 30px;
}

.text-submit h4 {
  text-align: center;
}

/*=======FOOTER=======*/

.section-footer {
  background: rgb(22, 22, 22);
  padding: 20px 10px;
}

.section-footer p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 90%;
}

.footer-list {
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
}

.footer-list li {
  display: inline-block;
}

.footer-list li ion-icon {
  font-size: 30px;
}
